*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0C0E10;
}
#landing-page{
    display: flex;
}
#side-bar{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 30%; 
    background-color: #0C0E10;   
    color: white;
    height: 100vh;
}
#main-content{
    width: 70%;
}

p,h3,img{
    text-align: center;
}
h3{
    margin: 15px 0px;
}
hr{
    margin: 10px 0;
}
ol>li{
    margin-left: 20px;
}
#nav-bar{
    display: flex;
    background-color: rgb(40, 38, 38);
    padding: 10px;
    gap:20px;
}
i{
    position: relative;
    left: 45px;
    
    top:7px;
    
}
input{
    width: 100%;
}
button{
    width:120px;
    background-color: #FF2424;
    color: white;
    border-style: none;
}
#landing-page-image img{
    width: 100%;
    height: 40vh;
    padding: 20px;
}



